<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>630470631383-emffq2jd1e2ee188cppirohsch5qo2po.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630470631383-emffq2jd1e2ee188cppirohsch5qo2po</string>
	<key>API_KEY</key>
	<string>AIzaSyAtqReiSjxYfqKeiboYgKjre-lg6-sgo70</string>
	<key>GCM_SENDER_ID</key>
	<string>630470631383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Satoshi-Ota.LoginWithFirebaseApp</string>
	<key>PROJECT_ID</key>
	<string>loginwithfirebaseapp-785cc</string>
	<key>STORAGE_BUCKET</key>
	<string>loginwithfirebaseapp-785cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630470631383:ios:fa30d23ce85e7de854b592</string>
</dict>
</plist>